<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <!-- <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar">
    </form> -->

    <h1> Welcome to Kyle </h1>
   
    <h2> Variables </h2>
    <p><%= type %></p>      
    <p><%= name %></p>
    <p><%= file %></p>

    <h2> Loop </h2>
    <ul>
        <% menu.forEach((item) => { %>
            <li><%= item.name%> - <%= item.drunkness %></li>
        <% }); %>
    </ul>

</body>
</html>